@model StudyBuddy.Models.Student

@{
    ViewBag.Title = "Edit Profile";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var header = StudyBuddy.Core.Helpers.GetHeader(User);
    var profilePicture = string.IsNullOrWhiteSpace(header.ProfilePic) ? "noprofilepicture.jpg" : header.ProfilePic;
}
@section Scripts {
    <script>
        function removeProfilePicture() {
            $.ajax({
                url: '/Student/RemoveProfilePicture',
                type: "POST",
                dataType: "JSON"                
            })
            window.location.href = '@Url.Action("EditProfile", "Student")';
        };

        function updateAvailability() {
            $.ajax({
                url: '/Student/UpdateAvailability',
                type: "POST",
                dataType: "JSON"
            })
        };
    </script>
}

@using (Html.BeginForm("EditProfile", "Student", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.ProfilePic)
    @Html.HiddenFor(model => model.Availability)
    <div class="sh-breadcrumb">
        <nav class="breadcrumb">
            <a class="breadcrumb-item" href="@Url.Action("Index", "Home")">StudyBuddy</a>
            <span class="breadcrumb-item active">@ViewBag.Title</span>
        </nav>
    </div><!-- sh-breadcrumb -->
    <div class="sh-pagetitle">
        <div class="input-group">
            @*<input type="search" class="form-control" placeholder="Search">
                <span class="input-group-btn">
                    <button class="btn"><i class="fa fa-search"></i></button>
                </span>*@<!-- input-group-btn -->
        </div><!-- input-group -->
        <div class="sh-pagetitle-left">
            <div class="sh-pagetitle-icon"><i class="icon ion-ios-calendar"></i></div>
            <div class="sh-pagetitle-title">
                <span>Profile Settings</span>
                <h2>Edit Profile</h2>
            </div><!-- sh-pagetitle-left-title -->
        </div><!-- sh-pagetitle-left -->
    </div><!-- sh-pagetitle -->

    <div class="sh-pagebody">
        <div class="row row-sm">
            <div class="col-12">
                <div class="card bd-primary">
                    <div class="card-header bg-primary tx-white">
                        Personal Information
                    </div><!-- card-header -->
                    <div class="card-body tx-center">
                        <img id="img-uploadsrc" src="~/Content/UserProfilePictures/@profilePicture" class="wd-100 ht-100 rounded-circle" alt="">
                        @if (profilePicture != "noprofilepicture.jpg")
                        {
                            <button type="button" class="btn btn-secondary pd-x-20" onclick="removeProfilePicture()">Remove</button>
                        }
                        <div class="mg-t-20">

                            <label class="custom-file">
                                @Html.TextBoxFor(model => model.ProfilePic, null, new { type = "file", @class = "search inputLabel form-control" })
                            </label>

                        </div>
                    </div><!-- card-body -->
                    <div class="card-body">
                        <div class="form-group row align-items-center">
                            <label class="mg-b-0 col-4 tx-right">@Html.LabelFor(model => model.LastName):</label>
                            <div class="col-6">
                                @Html.TextBoxFor(model => model.FirstName, new { @class = "form-control", placeholder = "Enter your first name", type = "text", name = "firstname" })
                                @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
                            </div><!-- col-8 -->
                        </div><!-- form-group -->
                        <div class="form-group row align-items-center">
                            <label class="mg-b-0 col-4 tx-right">@Html.LabelFor(model => model.LastName):</label>
                            <div class="col-6">
                                @Html.TextBoxFor(model => model.LastName, new { @class = "form-control", placeholder = "Enter your last name", type = "text", name = "lastname" })
                                @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
                            </div><!-- col-8 -->
                        </div><!-- form-group -->
                        <div class="form-group row align-items-center">
                            <label class="mg-b-0 col-4 tx-right">@Html.LabelFor(model => model.PhoneNumber):</label>
                            <div class="col-6">
                                @Html.TextBoxFor(model => model.PhoneNumber, new { @class = "form-control", placeholder = "Enter your phone number", type = "text", name = "phonenumber" })
                                @Html.ValidationMessageFor(model => model.PhoneNumber, "", new { @class = "text-danger" })
                            </div><!-- col-8 -->
                        </div><!-- form-group -->
                        <div class="form-group row align-items-center">                            
                            <label class="mg-b-0 col-4 tx-right">@Html.LabelFor(model => model.Availability):</label>
                            <div class="col-6">
                                <div class="onoffswitch align-content-center justify-content-center">
                                    @{ var type = string.Empty; if (Model.Availability) { type = "checked"; } }
                                    <input type="checkbox" name="Availability" class="onoffswitch2-checkbox @Model.Email" id="@Model.Email" onchange="updateAvailability()" @type>
                                    <label class="onoffswitch2-label" for="@Model.Email">
                                        <span class="onoffswitch2-inner"></span>
                                        <span class="onoffswitch2-switch"></span>
                                    </label>
                                </div>
                            </div><!-- col-8 -->
                        </div><!-- form-group -->
                    </div><!-- card-body -->
                </div><!-- card -->
            </div><!-- col-9 -->
        </div><!-- row -->
        <hr class="mg-y-30">
        <button class="btn btn-success pd-x-20 mg-r-2" type="submit">Save Changes</button>
        <hr class="mg-t-30">
    </div><!-- sh-pagebody -->
}