@model StudyBuddy.Models.SecurityViewModel

@{
    ViewBag.Title = "Security";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Scripts {
    <script>
        $(function () {
            enable_cb();
            $("#group1").click(enable_cb);
        });

        function enable_cb() {
            if (this.checked) {
                $("input.group1").removeAttr("disabled");
            } else {
                $("input.group1").attr("disabled", true);
            }
        }

        $(function () {
            enable_cb2();
            $("#group2").click(enable_cb2);
        });

        function enable_cb2() {
            if (this.checked) {
                $("input.group2").removeAttr("disabled");
            } else {
                $("input.group2").attr("disabled", true);
            }
        }
    </script>
}

<div class="sh-breadcrumb">
    <nav class="breadcrumb">
        <a class="breadcrumb-item" href="@Url.Action("Index", "Home")">StudyBuddy</a>
        <span class="breadcrumb-item active">@ViewBag.Title</span>
    </nav>
</div><!-- sh-breadcrumb -->
<div class="sh-pagetitle">
    <div class="input-group">
    </div><!-- input-group -->
    <div class="sh-pagetitle-left">
        <div class="sh-pagetitle-icon"><i class="icon ion-ios-gear"></i></div>
        <div class="sh-pagetitle-title">
            <span>Here you can modify your security information for logging in into the system</span>
            <h2>Security</h2>
        </div><!-- sh-pagetitle-left-title -->
    </div><!-- sh-pagetitle-left -->
</div><!-- sh-pagetitle -->

<div id="modaldemo2" class="modal fade">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content bd-0 tx-14">
            <div class="modal-header pd-x-20">
                <h6 class="tx-14 mg-b-0 tx-uppercase tx-inverse tx-bold">Notice</h6>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body pd-20">
                <p class="mg-b-5">Are you sure you want to deactivate your account?</p>
            </div>
            <div class="modal-footer justify-content-center">
                <a href="@Url.Action("Deactivate", "Student")" type="button" class="btn btn-success pd-x-20">Confirm</a>
                <button type="button" class="btn btn-secondary pd-x-20" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div><!-- modal-dialog -->
</div><!-- modal -->

<div class="sh-pagebody">
    @using (Html.BeginForm("Security", "Student", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(m => m.Email)
        @Html.HiddenFor(m => m.Password)
        <div class="row row-sm mg-t-20">
            <div class="col-xl-6">
                <div class="card bd-primary">
                    <div class="card-header bg-primary tx-white">Email Information</div>
                    <div class="card-body pd-sm-30">
                        <div class="row">
                            <label class="col-sm-4 form-control-label" for="OldEmail">Old Email: <span class="tx-danger">*</span></label>
                            <div class="col-sm-8 mg-t-10 mg-sm-t-0">
                                @Html.TextBoxFor(m => m.OldEmail, new { @class = "form-control group1", @placeholder = "Enter old Email" })
                                @Html.ValidationMessageFor(m => m.OldEmail, "", new { @class = "text-danger" })
                            </div>
                        </div><!-- row -->
                        <div class="row mg-t-20">
                            <label class="col-sm-4 form-control-label" for="NewEmail">New Email: <span class="tx-danger">*</span></label>
                            <div class="col-sm-8 mg-t-10 mg-sm-t-0">
                                @Html.TextBoxFor(m => m.NewEmail, new { @class = "form-control group1", @placeholder = "Enter new Email" })
                                @Html.ValidationMessageFor(m => m.NewEmail, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="row mg-t-20">
                            <label class="col-sm-4 form-control-label" for="ConfirmEmail">Confirm Email: <span class="tx-danger">*</span></label>
                            <div class="col-sm-8 mg-t-10 mg-sm-t-0">
                                @Html.TextBoxFor(m => m.ConfirmEmail, new { @class = "form-control group1", @placeholder = "Confirm new Email" })
                                @Html.ValidationMessageFor(m => m.ConfirmEmail, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-layout-footer mg-t-30">
                            <label class="ckbox">
                                <input id="group1" name="ChangeEmail" type="checkbox" value="true"><span>Change Email Information?</span>
                            </label>
                        </div><!-- form-layout-footer -->
                    </div><!-- card-body -->
                </div><!-- card -->
            </div><!-- col-6 -->
            <div class="col-xl-6 mg-t-25 mg-xl-t-0">
                <div class="card bd-primary">
                    <div class="card-header bg-primary tx-white">Password Information</div>
                    <div class="card-body pd-sm-30 form-layout form-layout-5">
                        <div class="row row-xs">
                            <label class="col-sm-4 form-control-label" for="OldPassword">Old Password: <span class="tx-danger">*</span></label>
                            <div class="col-sm-8 mg-t-10 mg-sm-t-0">
                                @Html.TextBoxFor(m => m.OldPassword, new { @class = "form-control group2", @placeholder = "Enter old Password", @type = "password" })
                                @Html.ValidationMessageFor(m => m.OldPassword, "", new { @class = "text-danger" })
                            </div>
                        </div><!-- row -->
                        <div class="row row-xs mg-t-20">
                            <label class="col-sm-4 form-control-label" for="NewPassword">New Password: <span class="tx-danger">*</span></label>
                            <div class="col-sm-8 mg-t-10 mg-sm-t-0">
                                @Html.TextBoxFor(m => m.NewPassword, new { @class = "form-control group2", @placeholder = "Enter new Password", @type = "password" })
                                @Html.ValidationMessageFor(m => m.NewPassword, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="row row-xs mg-t-20">
                            <label class="col-sm-4 form-control-label" for="ConfirmPassword">Confirm Password: <span class="tx-danger">*</span></label>
                            <div class="col-sm-8 mg-t-10 mg-sm-t-0">
                                @Html.TextBoxFor(m => m.ConfirmPassword, new { @class = "form-control group2", @placeholder = "Confirm new Password", @type = "password" })
                                @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-layout-footer mg-t-30">
                            <label class="ckbox">
                                <input id="group2" name="ChangePassword" type="checkbox" value="true"><span>Change Password Information?</span>
                            </label>
                        </div><!-- form-layout-footer -->
                    </div><!-- card-body -->
                </div><!-- card -->
            </div><!-- col-6 -->
        </div><!-- row -->
        <hr class="mg-y-30">
        <button class="align-self-center btn btn-success pd-x-20 mg-r-2" type="submit">Save Changes</button>
        <a href="" class="btn btn-secondary pd-x-20" data-toggle="modal" data-target="#modaldemo2">Deactivate My Account</a>
    }
</div><!-- sh-pagebody -->
