@model  List<StudyBuddy.Models.RosterViewModel>

@{
    ViewBag.Title = "My Courses";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Scripts {
    <script>
        function updateAvailability(sectionId) {
            $.ajax({
                url: '@Url.Action("UpdateAvailability", "Home")',
                type: "POST",
                dataType: "JSON",
                data: { sectionId: sectionId }
            })
        };

        function sendPoke(email, text, course) {
            $.ajax({
                url: '@Url.Action("Poke", "Home")',
                type: "POST",
                dataType: "JSON",
                data: { email: email, course: course },
                success: $(text).replaceWith("<div>Sent!</div>")
            });
        };
    </script>
}

<div class="sh-breadcrumb">
    <nav class="breadcrumb">
        <a class="breadcrumb-item" href="@Url.Action("Index", "Home")">StudyBuddy</a>
        <span class="breadcrumb-item active">My Courses</span>
    </nav>
</div><!-- sh-breadcrumb -->
<div class="sh-pagetitle">
    <div class="input-group">
    </div><!-- input-group -->
    <div class="sh-pagetitle-left">
        <div class="sh-pagetitle-icon"><i class="icon ion-grid"></i></div>
        <div class="sh-pagetitle-title">
            <span>Find all the courses you have added here</span>
            <h2>@ViewBag.Title</h2>
        </div><!-- sh-pagetitle-left-title -->
    </div><!-- sh-pagetitle-left -->
</div><!-- sh-pagetitle -->

<div class="sh-pagebody">
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-md-3 mg-t-10">
                <div class="card">
                    <div class="card-header d-flex align-items-center justify-content-between tx-white" style="background-color: @item.SectionColor">
                        <h6 class="mg-b-0 tx-14 tx-white">@Html.DisplayFor(m => item.Subject)</h6>
                        <div>
                            <div class="onoffswitch">
                                @{ var type = string.Empty; if (item.SectionAvailability) { type = "checked"; } }
                                <input type="checkbox" name="item.SectionAvailability" class="onoffswitch-checkbox @item.Subject@item.Section" id="@item.Subject@item.Section" onchange="updateAvailability(@item.SectionId)" @type>
                                <label class="onoffswitch-label" for="@item.Subject@item.Section">
                                    <span class="onoffswitch-inner"></span>
                                    <span class="onoffswitch-switch"></span>
                                </label>
                            </div>
                        </div>
                        <div class="card-option tx-24">
                            <div class="dropdown">
                                <a href="" data-toggle="dropdown" class="tx-white"><i class="icon ion-more lh-0"></i></a>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <a class="dropdown-item" href="@Url.Action("DeleteSection", "Home", new { item.SectionId })"><i class="icon ion-close lh-0"></i>  Delete</a>
                                </div><!-- dropdown-menu -->
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        @{ var latestFive = StudyBuddy.Core.Helpers.GetLatestFive(item.SectionId, item.StudentId); }
                        <h5 class="card-body-title">@Html.DisplayFor(m => item.Title)</h5>
                        <p class="card-subtitle tx-normal mg-b-15">Section: @Html.DisplayFor(m => item.Section) @Html.DisplayFor(m => item.SectionId)<br />Instructor: @Html.DisplayFor(m => item.Instructor)</p>

                        <p class="card-text">Latest 5 students available to study:</p>
                        <div class="table-responsive">
                            <table class="table mg-b-0">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (!latestFive.Any())
                                    {
                                        <tr>
                                            <td>There are no students available.</td>
                                            <td></td>
                                        </tr>
                                    }
                                    else
                                    {
                                        foreach (var latest in latestFive)
                                        {
                                            var formattedEmail = "'" + latest.Email + "'";
                                            var formattedCourse = "'" + item.Subject + "'";
                                            var uniqueKey = latest.Email.Replace("@", string.Empty).Replace(".", string.Empty);

                                                <tr>
                                                    <td>@Html.DisplayFor(m => latest.FirstName) @Html.DisplayFor(m => latest.LastName)</td>
                                                    <td><div id="text_@uniqueKey"><a href="#" data-toggle="modal" data-target="#modal_@uniqueKey">Poke</a></div></td>
                                                </tr>

                                                <div id="modal_@uniqueKey" class="modal fade">
                                                    <div class="modal-dialog modal-sm" role="document">
                                                        <div class="modal-content bd-0 tx-14">
                                                            <div class="modal-body pd-20">
                                                                <p class="mg-b-5">Would you like to poke @Html.DisplayFor(m => latest.FirstName) @Html.DisplayFor(m => latest.LastName)?</p>
                                                            </div>
                                                            <div class="modal-footer justify-content-center">
                                                                <button onclick='sendPoke(@formattedEmail, text_@uniqueKey, @formattedCourse)' type="button" class="btn btn-success pd-x-20 icon ion-paper-airplane" data-dismiss="modal"></button>
                                                                <button type="button" class="btn btn-secondary pd-x-20 icon ion-close" data-dismiss="modal"></button>
                                                            </div>
                                                        </div>
                                                    </div><!-- modal-dialog -->
                                                </div><!-- modal -->
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                        <hr />
                        <div class="card-footer bg-gray-400 tx-center">
                            <a href="@Url.Action("ViewSection", "Home", new { item.SectionId })">View All</a>
                        </div><!-- card-footer -->

                    </div>
                </div><!-- card -->
            </div><!-- col -->
                            }
    </div>
</div><!-- sh-pagebody -->
