@model List<StudyBuddy.Models.Student>

@{
    ViewBag.Title = "Student";
    Layout = "~/Views/Shared/_Layout_DataTables.cshtml";
}

<div class="sh-breadcrumb">
    <nav class="breadcrumb">
        <a class="breadcrumb-item" href="@Url.Action("Index", "Home")">Study Buddy</a>
        <span class="breadcrumb-item active">Student List</span>
    </nav>
</div><!-- sh-breadcrumb -->
<div class="sh-pagetitle">
    <div class="input-group">
        @*<input type="search" class="form-control" placeholder="Search">
        <span class="input-group-btn">
            <button class="btn"><i class="fa fa-search"></i></button>
        </span>*@<!-- input-group-btn -->
    </div><!-- input-group -->
    <div class="sh-pagetitle-left">
        <div class="sh-pagetitle-icon"><i class="icon ion-ios-home"></i></div>
        <div class="sh-pagetitle-title">
            <span>List of all students</span>
            <h2>@ViewBag.Title</h2>
        </div><!-- sh-pagetitle-left-title -->
    </div><!-- sh-pagetitle-left -->
</div><!-- sh-pagetitle -->

<div class="sh-pagebody">
    <div class="table-wrapper">
        <table id="datatable2" class="table display responsive nowrap">
            <thead>
            <tr>
                <th class="wd-15p">Id</th>
                <th class="wd-15p">First Name</th>
                <th class="wd-20p">Last Name</th>
                <th class="wd-20p">Availability</th>
            </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    //if (item.Availability != false) //: If you want to filter the table by availability
                    {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.Id)</td>
                        <td>@Html.DisplayFor(modelItem => item.FirstName)</td>
                        <td>@Html.DisplayFor(modelItem => item.LastName)</td>
                        <td>@Html.DisplayFor(modelItem => item.Availability)</td>
                    </tr>
                    }
                }
            </tbody>
        </table>
    </div><!-- table-wrapper -->
</div><!-- sh-pagebody -->