@model StudyBuddy.Models.Student

@{
    ViewBag.Title = "Forgot Password";
    Layout = "~/Views/Shared/_Layout_Login.cshtml";
}

@using (Html.BeginForm("ForgotPassword", "Auth", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.Id)
    @Html.HiddenFor(model => model.Password)
    @Html.HiddenFor(model => model.FirstName)
    @Html.HiddenFor(model => model.LastName)
    @Html.HiddenFor(model => model.Availability)
    @Html.HiddenFor(model => model.ProfilePic)
    @Html.HiddenFor(model => model.SecurityLevel)
    @Html.HiddenFor(model => model.Guid)
    @Html.HiddenFor(model => model.ReturnUrl)
    <div class="signpanel-wrapper">
        <div class="signbox">
            <div class="signbox-header">
                <h2>StudyBuddy</h2>
                <p class="mg-b-0">@ViewBag.Title</p>
            </div><!-- signbox-header -->
            <div class="signbox-body">
                <div class="form-group">
                    <label class="form-control-label">@Html.LabelFor(model => model.Email):</label>
                    @Html.TextBoxFor(model => model.Email, new { @class = "form-control", placeholder = "Enter your Email", type = "email", name = "email" })
                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                </div><!-- form-group -->
                <button class="btn btn-success btn-block" type="submit">Submit</button>                
                <div class="tx-center bg-white bd pd-10 mg-t-40">Remember your password? @Html.ActionLink("Sign in", "Login", "Auth")</div>
            </div><!-- signbox-body -->
        </div><!-- signbox -->
    </div><!-- signpanel-wrapper -->
}