@{
    var header = StudyBuddy.Core.Helpers.GetHeader(User);
    var name = header.FirstName + " " + header.LastName;
    var email = header.Email;
    var profilePicture = string.IsNullOrWhiteSpace(header.ProfilePic) ? "noprofilepicture.jpg" : header.ProfilePic;
}
<div class="sh-logopanel">
    @Html.ActionLink("Study Buddy", "Index", "Home", new { area = "" }, new { @class = "sh-logo-text" })
    <a id="navicon" href="" class="sh-navicon d-none d-xl-block"><i class="icon ion-navicon"></i></a>
    <a id="naviconMobile" href="" class="sh-navicon d-xl-none"><i class="icon ion-navicon"></i></a>
</div><!-- sh-logopanel -->
<div class="sh-sideleft-menu">
    <label class="sh-sidebar-label">Navigation</label>
    <ul class="nav">
        <li class="nav-item">
            <a href="@Url.Action("Index", "Home")" class="nav-link @(ViewContext.RouteData.Values["Action"].ToString() == "Index" ? "active" : "")">
                <i class="icon ion-grid"></i>
                <span>My Courses</span>
            </a>
        </li><!-- nav-item -->
        <li class="nav-item">
            <a href="@Url.Action("Add", "Home")" class="nav-link @(ViewContext.RouteData.Values["Action"].ToString() == "Add" ? "active" : "")">
                <i class="icon ion-plus"></i>
                <span>Add Courses</span>
            </a>
        </li><!-- nav-item -->
        <li class="nav-item">
            <a href="@Url.Action("EditProfile", "Student")" class="nav-link @(ViewContext.RouteData.Values["Action"].ToString() == "EdtProfile" ? "active" : "")">
                <i class="icon ion-ios-person"></i>
                <span>Edit Profile</span>
            </a>
        </li><!-- nav-item -->
        <li class="nav-item">
            <a href="@Url.Action("Security", "Student")" class="nav-link @(ViewContext.RouteData.Values["Action"].ToString() == "EditLoginInformation" ? "active" : "")">
                <i class="icon ion-ios-gear"></i>
                <span>Security</span>
            </a>
        </li><!-- nav-item -->
        <li class="nav-item">
            <a href="@Url.Action("Logout", "Auth")" class="nav-link @(ViewContext.RouteData.Values["Action"].ToString() == "Logout" ? "active" : "")">
                <i class="icon ion-power"></i>
                <span>Sign Out</span>
            </a>
        </li><!-- nav-item -->
    </ul>
</div><!-- sh-sideleft-menu -->
<div class="sh-headpanel">
    <div class="sh-headpanel-left">
        <!-- START: HIDDEN IN MOBILE -->
        <a href="@Url.Action("Index", "Home")" class="sh-icon-link">
            <div>
                <i class="icon ion-grid"></i>
                <span>My Courses</span>
            </div>
        </a>
        <a href="@Url.Action("Add", "Home")" class="sh-icon-link">
            <div>
                <i class="icon ion-plus"></i>
                <span>Add Courses</span>
            </div>
        </a>
        <a href="@Url.Action("EditProfile", "Student")" class="sh-icon-link">
            <div>
                <i class="icon ion-ios-person"></i>
                <span>Edit Profile</span>
            </div>
        </a>
        <a href="@Url.Action("Security", "Student")" class="sh-icon-link">
            <div>
                <i class="icon ion-ios-gear"></i>
                <span>Security</span>
            </div>
        </a>
        <a href="@Url.Action("Logout", "Auth")">
            " class="sh-icon-link">
            <div>
                <i class="icon ion-power"></i>
                <span>Sign Out</span>
            </div>
        </a>
        <!-- END: HIDDEN IN MOBILE -->
        <!-- START: DISPLAYED IN MOBILE ONLY -->
        <div class="dropdown dropdown-app-list">
            <a href="" data-toggle="dropdown" class="dropdown-link">
                <i class="icon ion-ios-keypad tx-18"></i>
            </a>
            <div class="dropdown-menu">
                <div class="row no-gutters">
                    <div class="col-4">
                        <a href="@Url.Action("Index", "Home")" class="dropdown-menu-link">
                            <div>
                                <i class="icon ion-grid"></i>
                                <span>My Courses</span>
                            </div>
                        </a>
                    </div><!-- col-4 -->
                    <div class="col-4">
                        <a href="@Url.Action("Add", "Home")" class="dropdown-menu-link">
                            <div>
                                <i class="icon ion-plus"></i>
                                <span>Add Courses</span>
                            </div>
                        </a>
                    </div><!-- col-4 -->
                    <div class="col-4">
                        <a href="@Url.Action("EditProfile", "Student")" class="dropdown-menu-link">
                            <div>
                                <i class="icon ion-ios-person"></i>
                                <span>Edit Profile</span>
                            </div>
                        </a>
                    </div><!-- col-4 -->
                    <div class="col-4">
                        <a href="@Url.Action("Security", "Student")" class="dropdown-menu-link">
                            <div>
                                <i class="icon ion-ios-gear"></i>
                                <span>Security</span>
                            </div>
                        </a>
                    </div><!-- col-4 -->
                    <div class="col-4">
                        <a href="@Url.Action("Logout", "Auth")" class="dropdown-menu-link">
                            <div>
                                <i class="icon ion-power"></i>
                                <span>Sign Out</span>
                            </div>
                        </a>
                    </div><!-- col-4 -->
                </div><!-- row -->
            </div><!-- dropdown-menu -->
        </div><!-- dropdown -->
        <!-- END: DISPLAYED IN MOBILE ONLY -->
    </div><!-- sh-headpanel-left -->
    <div class="sh-headpanel-right">
        <div class="dropdown mg-r-10">
            <a href="" class="dropdown-link dropdown-link-notification">
                <i class="icon ion-ios-filing-outline tx-24"></i>
            </a>
        </div>
        <div class="dropdown dropdown-notification">
            <a href="" data-toggle="dropdown" class="dropdown-link dropdown-link-notification">
                <i class="icon ion-ios-bell-outline tx-24"></i>
                <span class="square-8"></span>
            </a>
            <div class="dropdown-menu dropdown-menu-right">
                <div class="dropdown-menu-header">
                    <label>Notifications</label>
                    <a href="">Mark All as Read</a>
                </div><!-- d-flex -->
                <div class="media-list">
                    <!-- loop starts here -->
                    <a href="" class="media-list-link read">
                        <div class="media pd-x-20 pd-y-15">
                            <img src="~/Content/Shamcey/img/img8.jpg" class="wd-40 rounded-circle" alt="">
                            <div class="media-body">
                                <p class="tx-13 mg-b-0"><strong class="tx-medium">Suzzeth Bungaos</strong> tagged you and 18 others in a post.</p>
                                <span class="tx-12">October 03, 2017 8:45am</span>
                            </div>
                        </div><!-- media -->
                    </a>
                    <!-- loop ends here -->
                    <a href="" class="media-list-link read">
                        <div class="media pd-x-20 pd-y-15">
                            <img src="~/Content/Shamcey/img/img9.jpg" class="wd-40 rounded-circle" alt="">
                            <div class="media-body">
                                <p class="tx-13 mg-b-0"><strong class="tx-medium">Mellisa Brown</strong> appreciated your work <strong class="tx-medium">The Social Network</strong></p>
                                <span class="tx-12">October 02, 2017 12:44am</span>
                            </div>
                        </div><!-- media -->
                    </a>
                    <a href="" class="media-list-link read">
                        <div class="media pd-x-20 pd-y-15">
                            <img src="~/Content/Shamcey/img/img10.jpg" class="wd-40 rounded-circle" alt="">
                            <div class="media-body">
                                <p class="tx-13 mg-b-0">20+ new items added are for sale in your <strong class="tx-medium">Sale Group</strong></p>
                                <span class="tx-12">October 01, 2017 10:20pm</span>
                            </div>
                        </div><!-- media -->
                    </a>
                    <a href="" class="media-list-link read">
                        <div class="media pd-x-20 pd-y-15">
                            <img src="~/Content/Shamcey/img/img5.jpg" class="wd-40 rounded-circle" alt="">
                            <div class="media-body">
                                <p class="tx-13 mg-b-0"><strong class="tx-medium">Julius Erving</strong> wants to connect with you on your conversation with <strong class="tx-medium">Ronnie Mara</strong></p>
                                <span class="tx-12">October 01, 2017 6:08pm</span>
                            </div>
                        </div><!-- media -->
                    </a>
                    <div class="media-list-footer">
                        <a href="" class="tx-12"><i class="fa fa-angle-down mg-r-5"></i> Show All Notifications</a>
                    </div>
                </div><!-- media-list -->
            </div><!-- dropdown-menu -->
        </div>
        <div class="dropdown dropdown-profile">
            <a href="" data-toggle="dropdown" class="dropdown-link">
                <img src="~/Content/UserProfilePictures/@profilePicture" class="wd-60 ht-60 rounded-circle" alt="">
            </a>
            <div class="dropdown-menu dropdown-menu-right">
                <div class="media align-items-center">
                    <img src="~/Content/UserProfilePictures/@profilePicture" class="wd-60 ht-60 rounded-circle bd pd-5" alt="">
                    <div class="media-body">
                        <h6 class="tx-inverse tx-15 mg-b-5">@name</h6>
                        <p class="mg-b-0 tx-12">@email</p>
                    </div><!-- media-body -->
                </div><!-- media -->
                <hr>
                <ul class="dropdown-profile-nav">
                    <li><a href="@Url.Action("EditProfile", "Student")"><i class="icon ion-ios-person"></i> Edit Profile</a></li>
                    <li><a href="@Url.Action("Security", "Student")"><i class="icon ion-ios-gear"></i> Security</a></li>
                    <li><a href="@Url.Action("Logout", "Auth")"><i class="icon ion-power"></i> Sign Out</a></li>
                </ul>
            </div><!-- dropdown-menu -->
        </div>
    </div><!-- sh-headpanel-right -->
</div><!-- sh-headpanel -->